RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# URL rewriting for signup
RewriteRule ^signup$ index.php?action=signup [L,QSA]

# URL rewriting for login
RewriteRule ^login$ index.php?action=login [L,QSA]

# URL rewriting for contact
RewriteRule ^contact$ index.php?action=contact [L,QSA]

# ADMIN -------------------------------------------------------

# URL rewriting for get products (admin)
RewriteRule ^admin$ index.php?adminAction=admin [L,QSA]

# ADMIN - PRODUCTS -------------------------------------------------------

# URL rewriting for get products (admin)
RewriteRule ^getProduct$ index.php?adminAction=getProduct [L,QSA]

# URL rewriting for add products (admin)
RewriteRule ^addProduct$ index.php?adminAction=addProduct [L,QSA]

# URL rewriting for get products by id (admin)
RewriteRule ^getProductById/([0-9]+)$ index.php?adminAction=getProductById&productId=$1 [L,QSA]

# URL rewriting for update products (admin)
RewriteRule ^updateProduct$ index.php?adminAction=updateProduct [L,QSA]

# URL rewriting for delete products (admin)
RewriteRule ^deleteProduct/([0-9]+)$ index.php?adminAction=deleteProduct&productId=$1 [L,QSA]

# ADMIN - CATEGORIES -------------------------------------------------------

# URL rewriting for get product categories (admin)
RewriteRule ^getProductCategory$ index.php?adminAction=getProductCategory [L,QSA]

# URL rewriting for get categories by id (admin)
RewriteRule ^getCategoryById/([0-9]+)$ index.php?adminAction=getCategoryById&categoryId=$1 [L,QSA]

# URL rewriting for get product categories (admin)
RewriteRule ^addCategory$ index.php?adminAction=addCategory [L,QSA]

# URL rewriting for get product categories (admin)
RewriteRule ^updateCategory$ index.php?adminAction=updateCategory [L,QSA]

# URL rewriting for deleting a category by id (admin)
RewriteRule ^deleteCategory/([0-9]+)$ index.php?adminAction=deleteCategory&categoryId=$1 [L,QSA]

# ADMIN - SECTIONS -------------------------------------------------------

# URL rewriting for get product section (admin)
RewriteRule ^getSection$ index.php?adminAction=getSection [L,QSA]

# ADMIN - INFORMATIONS -------------------------------------------------------

# URL rewriting for get informations (admin)
RewriteRule ^getInformation$ index.php?adminAction=getInformation [L,QSA]

# URL rewriting for get informations by id (admin)
RewriteRule ^getInformationById/([0-9]+)$ index.php?adminAction=getInformationById&informationId=$1 [L,QSA]

# URL rewriting for add informations (admin)
RewriteRule ^addInformation$ index.php?adminAction=addInformation [L,QSA]

# URL rewriting for update informations (admin)
RewriteRule ^updateInformation$ index.php?adminAction=updateInformation [L,QSA]

# URL rewriting for delete informations (admin)
RewriteRule ^deleteInformation/([0-9]+)$ index.php?adminAction=deleteInformation&informationId=$1 [L,QSA]

# ADMIN - SOCIAL NETWORKS -------------------------------------------------------

# URL rewriting for get social network (admin)
RewriteRule ^getSocialNetwork$ index.php?adminAction=getSocialNetwork [L,QSA]

# URL rewriting for get social network by id (admin)
RewriteRule ^getSocialNetworkById/([0-9]+)$ index.php?adminAction=getSocialNetworkById&socialNetworkId=$1 [L,QSA]

# URL rewriting for add social network (admin)
RewriteRule ^addSocialNetwork$ index.php?adminAction=addSocialNetwork [L,QSA]

# URL rewriting for update social network (admin)
RewriteRule ^updateSocialNetwork$ index.php?adminAction=updateSocialNetwork [L,QSA]

# URL rewriting for delete social network (admin)
RewriteRule ^deleteSocialNetwork/([0-9]+)$ index.php?adminAction=deleteSocialNetwork&socialNetworkId=$1 [L,QSA]

# ADMIN - COMMENTS -------------------------------------------------------

# URL rewriting for get comment (admin)
RewriteRule ^getCommentsByProduct/([0-9]+)$ index.php?action=getCommentsByProduct&productDetailId=$1 [L,QSA]

# URL rewriting for add comment (admin)
RewriteRule ^addComment$ index.php?action=addComment [L,QSA]

# ----------------------------------------------------------------------------- 
